*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0;
    padding: 0;
    background: url('img/bg2.jpg');
    height: 1275px;
}
.left{
    color: white;
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
}
.mid{
    color: white;
    display: block;
    width: 34%;
    margin: 20px auto;
}
.right{
    color: white;
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
    padding: 9px;
}
.left img{
    width: 70px;
    filter: invert(100%);
}
.left div{
    text-align: center;
    font-size: 30px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 20px 12px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 6px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}
.container{
    border: 2px solid white;
    margin: 294px 158px 10px;
    padding: 30px 70px;
    border-radius: 30px;
    color: white;
    width: 33%;
}
.form-group input{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 460px;
    padding: 4px;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 10px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 95%;
    margin: auto;
}
.container2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container2 .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container2 .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container2 .card .content:hover{
    transform: translateY(0px);
    opacity: 1;
}
.container2 .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
}
.container2 .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.container2 .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container2 .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}